body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

:root {
  --grey: #1f2421;
  --accent: #137547;
  --accent2: #25a18e;
  --offwhite: #e8f1f2;
}

/* Nav Bar */
.EVC__Header-Navbar {
  width: 100%;
  background-color: var(--accent);
  display: flex;
  filter: opacity(0.9);
  align-items: center;
  justify-content: space-between;
}

.EVC__Header-Navbar > a img {
  margin-left: 4rem;
}

.EVC__Header-Navbar > ul {
  margin: 0 4rem 0 0;
}

.EVC__Header-Navbar > ul li {
  display: inline-block;
  padding: 2rem;
  position: relative;
  transition: cubic-bezier(0.9, 0, 0.4, 1) 1s;
}

.EVC__Header-Navbar > ul li::after {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  left: 50%;
  height: 2px;
  margin: 0;
  background: var(--accent2);
  transition: cubic-bezier(0.9, 0, 0.4, 1) 1s;
}

.EVC__Header-Navbar > ul li:hover {
  background-color: var(--grey);
}

.EVC__Header-Navbar > ul li:hover::after {
  width: 80%;
  left: 10%;
}

.EVC__Header-Navbar > ul li a {
  color: var(--offwhite);
  text-decoration: none;
}

/* Splash Page */
.EVC__Header-SpalashPage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../Images/SplashPageImg.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.EVC__Header-SpalashPage div {
  width: 30%;
  padding: 1.5rem;
  background-color: var(--accent);
  color: var(--offwhite);
  transition: cubic-bezier(0.9, 0, 0.4, 1) 1s;
}

.EVC__Header-SpalashPage div:hover {
  filter: opacity(0.9);
}

.EVC__Header-SpalashPage div h1 {
  font-size: 3rem;
}

.EVC__Header-SpalashPage div p {
  font-size: 1.2rem;
}

/* Mouse */
.EVC__Header-Mouse {
  margin-top: 2rem;
  width: 1.5rem;
  height: 4rem;
  margin-left: 47%;
  border-style: solid;
  border-color: var(--accent);
  border-width: 5px;
  border-radius: 3rem;
  display: flex;
  z-index: 10;
  justify-content: center;
}

.EVC__Header-Mouse > div {
  width: 0.75rem;
  height: 0.75rem;
  margin-top: 3px;
  margin-bottom: 3px;
  position: relative;
  background-color: var(--accent);
  border-radius: 50%;
  animation: scroll-down 3s infinite;
}

@keyframes scroll-down {
  0% {
    top: 0rem;
    background-color: var(--white);
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 2.3rem;
  }
}
